<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<link rel="stylesheet" href="static/styles.css">
<body>
<!-- Create a div where the circle will take place -->
<div id="dataviz_brushScatter"></div>
</body>

<script src="static/viz.js"></script>
<script src="static/UserLogger.js"></script>

<script>
    var userLogger = new UserLogger("{{ analytics_server }}",
        10, 20, 'data', {'user': 'test',
            'condition_1': 'something',
            'condition_2': 'something else'})
    createViz(userLogger)
</script>